
html,body{ margin:0; padding:0; height:100%; width:100%; }

header{
	background-image: url(images/banner.jpg);
	background-position: center;
	min-height:100vh;
  	overflow:hidden;
}

img.infp{
    max-width: 20%;
    height: auto;
	
}

.section{
    position:relative;
	min-height:100vh;
}

img.seccion-negro{
    max-width: 90%;
    position:absolute;
    top:0;
    bottom:0;
    left: 20%;
    margin:auto;
}


.slide{
    margin-left: 20%;
    margin-top: 50%;
}

img.seccion-blanco{
    max-width: 90%;
    position:absolute;
    top:0;
    bottom:0;
    right: 20%;
    margin:auto;
}


.row-datos{
	background-image: url(images/patt.png);
}

.row-estudios{
	background: #FF3333;
}

.row-idiomas{
	background: #669999;
}

.row-habilidades{
	background: #003333;
}


.row-actividades{
	background-image: url(images/pattern.png);
}


.col-head{
	display: block;
	margin-left: 13%;
	margin-top: 9%;
	width: 70%;
}

h3.name{
	display: inline-block;
	font-size: 600%;
	color: white;
	margin-right:0;
	font-family: 'Share Tech Mono', monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .3rem solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: 2rem; /* Adjust as needed */
    animation: 
    typing 3s steps(16, end),
    blink-caret .75s step-end infinite;
}

h3.comment{
	color: white;
	display: block;
	font-size: 600%;
	font-family: 'Share Tech Mono', monospace;
	margin-top: 3.5rem;
	margin-bottom: 3.5rem;
}

.white-letters{
	color: white;
	font-family: 'Noto Sans', sans-serif;
}

h4.seccion-negro{
	font-size: 600%;
	font-family: 'Share Tech Mono', monospace;
	margin-top: 7rem;
}

.acts{
	position: absolute;
	overflow: scroll;
	bottom: 5%;
	top: 30%;
}

.data{
	position: absolute;
	top: 27%;
}

.acts-wrapper{
	position: relative;
}

.data-wrapper{
	position: relative;
}

	

img.educa:hover { 
    animation-name: tada;
    animation-duration: 1s; 
    animation-fill-mode: both; 
}


img.skills:hover { 
    animation-name: wobble;
    animation-duration: 1s; 
    animation-fill-mode: both; 
}

h4.seccion-blanco{
	font-size: 600%;
	font-family: 'Share Tech Mono', monospace;
	margin-top: 7rem;
	color: white;
}

.navbar{
	background: white;
	opacity: 0.7;
	display: inline-block;
	float: right;
}

.badge{
	font-size:100%;
}

.barra{
	position: absolute;
	bottom : 0;
}


.barra ul li {
	display: inline;
	float:right;
}

.barra ul li a{
	color: #272822;
	font-family: 'Share Tech Mono', monospace;
	font-weight: bold;
	font-size: 120%;
}

.affix {
	margin-top: 0;
    top: 0;
    width: 100%;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    z-index: 9999 !important;
}

.affix-top {
    position: static;
    top: -35px;
}


/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}


@keyframes tada { 
    0% {transform: scale(1);} 
    10%, 20% {transform: scale(0.9) rotate(-3deg);} 
    30%, 50%, 70%, 90% {transform: scale(1.1) rotate(3deg);} 
    40%, 60%, 80% {transform: scale(1.1) rotate(-3deg);} 
    100% {transform: scale(1) rotate(0);} 
} 
.tada { 
    animation-name: tada; 
}



@-webkit-keyframes swinging{
    0%{-webkit-transform: rotate(10deg);}
    50%{-webkit-transform: rotate(-5deg)}
    100%{-webkit-transform: rotate(10deg);}
}
 
@keyframes swinging{
    0%{transform: rotate(10deg);}
    50%{transform: rotate(-5deg)}
    100%{transform: rotate(10deg);}
}
 
.swingimage{
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
    animation: swinging 3.5s ease-in-out forwards infinite;
}

@keyframes wobble { 
  0% { transform: translateX(0%); } 
  15% { transform: translateX(-25%) rotate(-5deg); } 
  30% { transform: translateX(20%) rotate(3deg); } 
  45% { transform: translateX(-15%) rotate(-3deg); } 
  60% { transform: translateX(10%) rotate(2deg); } 
  75% { transform: translateX(-5%) rotate(-1deg); } 
  100% { transform: translateX(0%); } 
} 
.wobble { 
    animation-name: wobble; 
}

.avatar{
	margin-top: 5rem;
}

.progress-bar {
    background-color: #FF3333;
    width: 100%;
}

ul.lang { 
	list-style-image: url("images/check.png"); 
	font-family: 'Noto Sans', sans-serif;
	font-size: 115%;
	font-weight: bold;
}
ul.data { 
	list-style-image: url("images/success.png"); 
	font-family: 'Noto Sans', sans-serif;
	font-size: 115%;
}


.ch-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 320px;
	height: 320px;
	display: inline-block;
	margin: 20px;
}


.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	cursor: default;
	box-shadow: 
		inset 0 0 0 16px rgba(255,255,255,0.6),
		0 1px 2px rgba(0,0,0,0.1);
	transition: all 0.4s ease-in-out;
}


.ch-info {
	position: absolute;
	background: rgba(63,147,147, 0.8);
	width: inherit;
	height: inherit;
	border-radius: 50%;
	overflow: hidden;
	opacity: 0;
	transition: all 0.4s ease-in-out;
	transform: scale(0);
}
.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 22px;
	margin: 0 30px;
	padding: 45px 0 0 0;
	height: 140px;
	font-family: 'Share Tech Mono', monospace;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
	color: #fff;
	padding: 10px 5px;
	font-family: 'Share Tech Mono', monospace;
	margin: 0 30px;
	font-size: 18px;
	border-top: 1px solid rgba(255,255,255,0.5);
	opacity: 0;
	transition: all 1s ease-in-out 0.4s;
}

.ch-img-1 { 
	background-image: url(images/books.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.ch-img-2 { 
	background-image: url(images/student.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.ch-img-3 { 
	background-image: url(images/graphic.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.ch-info p a {
	display: block;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Noto Sans', sans-serif;
}

.ch-info p a:hover {
	color: rgba(255,242,34, 0.8);
}

.ch-item:hover {
	box-shadow: 
		inset 0 0 0 1px rgba(255,255,255,0.1),
		0 1px 2px rgba(0,0,0,0.1);
}
.ch-item:hover .ch-info {
	transform: scale(1);
	opacity: 1;
}
.ch-item:hover .ch-info p {
	opacity: 1;
}