
html,body{ margin:0; padding:0; height:100%; width:100%; }

header{
	background-image: url(images/banner.jpg);
	background-repeat: no-repeat;
	height:100vh;
  	width:100%;
  	overflow:hidden;
}

img.infp{
    max-width: 20%;
    height: auto;
	
}

.section{
    position:relative;
	height:100vh;
}

img.seccion-negro{
    max-width: 90%;
    position:absolute;
    top:0;
    bottom:0;
    left: 20%;
    margin:auto;
}


.slide{
    margin-left: 20%;
    margin-top: 50%;
}

img.seccion-blanco{
    max-width: 90%;
    position:absolute;
    top:0;
    bottom:0;
    right: 20%;
    margin:auto;
}

.educa{
	margin-top: 5%;
}

.row-experiencia{
	background: white;
}

.row-estudios{
	background: #FF3333;
}

.row-idiomas{
	background: white;
}

.row-habilidades{
	background: #003333;
}


.row-actividades{
	background: #669999;
}


.col-head{
	display: block;
	margin-left: 13%;
	margin-top: 12%;
	width: 70%;
}

h3.name{
	display: inline-block;
	font-size: 600%;
	color: white;
	font-family: 'Share Tech Mono', monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .3rem solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: 2rem; /* Adjust as needed */
    margin:  0 auto;
    animation: 
    typing 3s steps(16, end),
    blink-caret .75s step-end infinite;
}

h4.seccion-negro{
	font-size: 600%;
	font-family: 'Share Tech Mono', monospace;
	margin-top: 7rem;
}

h4.seccion-blanco{
	font-size: 600%;
	font-family: 'Share Tech Mono', monospace;
	margin-top: 7rem;
	color: white;
}

.navbar{
	background: white;
	opacity: 0.7;
	display: inline-block;
	float: right;
	margin-top:4%;
}



.barra ul li {
	display: inline;
	float:right;
}

.barra ul li a{
	color: #272822;
	font-family: 'Share Tech Mono', monospace;
	font-weight: bold;
	font-size: 120%;
}

.affix {
	margin-top: 0;
    top: 0;
    width: 100%;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    z-index: 9999 !important;
}

.affix-top {
    position: static;
    top: -35px;
}



p{

}



/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

.animated { 
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: tada 3.5s ease-in-out forwards infinite;
    animation: tada 3.5s ease-in-out forwards infinite;
} 



@-webkit-keyframes swinging{
    0%{-webkit-transform: rotate(10deg);}
    50%{-webkit-transform: rotate(-5deg)}
    100%{-webkit-transform: rotate(10deg);}
}
 
@keyframes swinging{
    0%{transform: rotate(10deg);}
    50%{transform: rotate(-5deg)}
    100%{transform: rotate(10deg);}
}
 
.swingimage{
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
    animation: swinging 3.5s ease-in-out forwards infinite;
}

.avatar{
	margin-top: 5rem;
}

.progress-bar {
    background-color: #669999;
    width: 100%;
}

ul.lang { list-style-image: url("images/ideas.png"); }



